/*-------------------------------
@desc:   define layout;

--------------------------------*/
body {
	overflow-x: hidden;
}

	#stripe {
		position: absolute;
		top: 0;
		width: 100%;
		height: 5px;
	}


.container {
  margin:0 auto;
}

	section {
		padding: 50px;
  		margin: 20px auto; 
  		text-align: left;
		width: 530px;
	}

	header {
		background-color: #eee;
	}
	
	h1 {
	  padding: 50px 0 10px;
	 }

	h2 {
		padding: 0 0 40px;
	}

	.desc h2 {
		padding-bottom: 30px;
	}

.desc {
	background-color: #eee;
	width: 800px;
	padding-top: 40px;
	padding-bottom: 20px;
	margin-top: 50px;
	color:#444;
}
	p, pre {
		margin-bottom: 25px;
	}

	pre {
		background-color: #999;
		padding: 10px;
	}

	.desc h2.last {
		margin-top: 60px;
	}

	.desc button {
		margin-top: 30px;
		margin-left: -2px;
	}

 /* --- heleper --- */
 .left {
 	margin-right: 7px;
 	float: left;
 }

 .right {
 	margin-left: 7px;
 	float: right;
 }

 .hide {
 	display: none;
 }